@font-face {
    font-family: 'Varela';
    src: url('Varela.woff2') format('woff2'),
        url('Varela.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

